group.id=ssl-host

ssl.enabled.protocols=TLSv1.2,TLSv1.1,TLSv1
ssl.protocol=TLS
ssl.truststore.location=secrets/client/truststore.jks
ssl.truststore.password=devpassword

security.protocol=SASL_SSL

sasl.mechanism=SCRAM-SHA-256
sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required \
        username="kafkaclient" \
        password="!@#^()%n&0*ABCDabcd123";

