group.id=ssl-host

ssl.enabled.protocols=TLSv1.2,TLSv1.1,TLSv1
ssl.keystore.location=/Users/irvingsantiago/code/kafka-security-ssl-sasl/sasl-scram/secrets/client/keystore.jks
ssl.keystore.password=confluent
ssl.protocol=TLS
ssl.truststore.location=/Users/irvingsantiago/code/kafka-security-ssl-sasl/sasl-scram/secrets/client/truststore.jks
ssl.truststore.password=confluent

security.protocol=SASL_SSL

sasl.mechanism=SCRAM-SHA-256
sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required \
        username="kafkaclient" \
        password="password";

